.advantages {
    padding: 70px 0 78px 0;
    min-height: 470px;
    background-color: #f6f6f6;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    &__item {
        margin-top: 65px;
        max-width: 247px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__subtitle {
        margin-top: 38px;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #0d0d0d;
    }
    &__descr {
        margin-top: 26px;
        font-size: 14px;
        font-weight: 500;
        text-align: center;
        color: #0d0d0d;
        a {
            color: #ff0000;
            text-transform: uppercase;
        }
    }
}
